/* I removed notes about classes from earlier exercises in v7 */

@use "partials/variables";
@use "partials/mixins";
@use "partials/typography";
@use "partials/reusable-components";
@use "partials/global-header";
@use "partials/nav";
@use "partials/product-views";
@use "partials/cart-views";
@use "partials/global-footer";
@use "partials/cookie-dialog";

/*CSS reset with universal selector 
Potential replacement for Tailwind. 
NOTE: both with Tailwind and the CSS reset, the global footer stopped going all the way to the bottom on large screens.
Giving main a min-height of 400px did not suffice. For some reason, after I made the bottom margin of main 3x the size of the top margin,
the global footer ended up all the way to the bottom on 2560px screens. 
It also looks better to have this much air next to a large footer. Was main almost long enough, but not quite?
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* How to make sure that the footer is always at the bottom, even on larger screens? 
        "Our body is displayed as flex,
        has a 'flex-direction' of column,
        its minimum height is 100vh or 100 viewport height,
        and its background color is blue. As for the header,
        I just colored it green. Finally,
        I gave the footer a background color of red and I set its top margin to auto. This is important because,
        without this,
        the footer wouldn't stay at the bottom." 
        blog.alanjc.com/articles/keep-the-footer-at-the-bottom.html
    */
    display: flex;
    flex-direction: column;

    /* TEST - trying to get rid of space at the bottom of body */
    /* background-color: green; */
}

.mainByMariePierreLessard {
    min-height: 400px;
    margin-top: variables.$double-of-base-size;
    margin-bottom: variables.$base-size-x600pc;

    /* Wrapper */
    max-width: variables.$max-width-on-large-screens-x75pc;
    margin-inline: auto;

    /* To position the cookie banner */
    position: relative;
}

.flexedFormByMariePierreLessard {
    display: flex;
    flex-direction: column;
    gap: variables.$base-size;

    /* For cookie banner */
    div {
        display: flex;
        flex-direction: row;
        gap: variables.$base-size-x140pc;
    }

    button {
        max-width: 150px;
    }

    /* REMINDER: 
    DO NOT USE because the headings are to the left in the Figma design. Distance between heading and form looks wrong.  
    justify-self: center;
    */
}