@use "./variables";
@use "./mixins";

.globalHeaderContainerByMariePierreLessard {
    /* MainBlue in Figma */
    background-color: variables.$MainBlue;

    .flexedHeaderByMariePierreLessard {
        display: flex;
        justify-content: space-between;

        padding: variables.$base-size;

        /* Addition from ex. 6 */
        /* Wrapper */
        max-width: variables.$max-width-on-large-screens;
        margin-inline: auto;

        /* This is an a element. */
        .leftSideGroupByMariePierreLessard {
            @include mixins.flexed-centered-and-spaced-by-Marie-Pierre-Lessard;

            color: variables.$White;
            text-decoration: none;
            border-radius: variables.$base-size-x150pc;

            &:hover {
                background-color: variables.$Main1-blue;
                cursor: pointer;
            }

            &:focus {
                background-color: variables.$Black;
            }

            &:active {
                background-color: variables.$LightBlue;
            }
        }

        .rightSideOfHeaderByMariePierreLessard {
            @include mixins.flexed-centered-and-spaced-by-Marie-Pierre-Lessard;

            .loginLinkByMariePierreLessard {
                color: variables.$White;
                text-decoration: none;
                font-weight: 700;

                /* Light Blue in Figma: background color of the "Log ind" text */
                background-color: variables.$LightBlue;
                border-radius: variables.$base-size-x150pc;
                padding-inline: variables.$two-thirds-of-base-size;
                padding-block: variables.$tenth-of-base-size;

                &:hover {
                    background-color: variables.$Main1-blue;
                    cursor: pointer;
                }

                &:focus {
                    background-color: variables.$Black;
                }

                &:active {
                    background-color: variables.$White;
                    color: variables.$Black;
                }
            }

            /* This is an a element. */
            .cartSectionByMariePierreLessard {
                height: variables.$double-of-base-size;

                svg {
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    fill: variables.$White;
                }

                &:hover {
                    background-color: variables.$Main1-blue;
                    border-radius: variables.$half-of-base-size;
                    cursor: pointer;
                }

                &:focus {
                    background-color: variables.$Black;
                }

                &:active {
                    background-color: variables.$LightBlue;
                }
            }
        }
    }
}