@use "./variables";
@use "./mixins";

.globalFooterByMariePierreLessard {
    /* This is to make sure that the global footer stays at the bottom. See also body. */
    margin-top: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;

    border-top: variables.$fourth-of-base-size solid variables.$Main1-blue;

    /* TEST */
    /* background-color: red; */

    ul {
        list-style-type: none;
    }

    .globalFooter1stRowByMariePierreLessard {
        /* Wrapper on a div inside of the first row of the footer (to keep text under product list on large screens)
        TO DO: responsiveness: min-width only works on desktops. It creates space between the columns.
        Alternative: a responsive gap.
        */
        min-width: variables.$tablet-breakpoint;
        max-width: variables.$max-width-on-large-screens;
        margin-inline: auto;

        @include mixins.flexed-and-spaced-standard-by-Marie-Pierre-Lessard;
        justify-content: space-around;

        /* oklch(29.3% 0.066 243.157) is color-sky-950 (Tailwind) (bg-sky-950 = background with that colour) */
        /* oklch(55.4% 0.046 257.417) is color-slate-500 (Tailwind) (bg-slate-500 = background with that colour) */
        /* Main1_blue in Figma */
        color: variables.$Main1-blue;
        padding: variables.$base-size;

        a {
            color: variables.$Main1-blue;

            &:hover {
                color: variables.$Black;
                cursor: pointer;
            }

            &:focus {
                color: variables.$Black;
            }

            &:active {
                color: variables.$LightBlue;
            }
        }

        address {
            font-style: normal;
        }
    }

    .globalFooter2ndRowByMariePierreLessard {
        /* Potential to do because the background image does not fill the whole width on large screens:  
        Since background-color: #334156 ($MainBlue); is the colour of the dark part of the SVG, it could fill what the SVG doesn't fill.
        But it can't be behind the SVG, otherwise details of the image get lost.
        Set backgrounds next to each other?
        Create a grid from certain resolutions?
        Maybe it looks fine as is. 
        */
        min-height: variables.$min-height-of-global-footer;
        background-image: url(../images/footer-bg.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
}