@use "./variables";

.navContainerByMariePierreLessard {
    background-color: variables.$Main1-blue;
    padding-block: variables.$two-thirds-of-base-size;
    padding-inline: variables.$base-size;

    .navByMariePierreLessard {
        /* Wrapper to keep menu text close to product list on large screens */
        max-width: variables.$max-width-on-large-screens;
        margin-inline: auto;

        display: flex;
        gap: variables.$base-size-x40pc;

        list-style-type: none;

        a {
            display: block;
            padding-block: variables.$base-size-x40pc;
            padding-inline: variables.$base-size-x80pc;
            text-decoration: none;

            &:hover {
                background-color: variables.$Black;
                border-radius: variables.$base-size-x150pc;
                cursor: pointer;
            }

            &:focus {
                border-radius: variables.$base-size-x150pc;
            }

            &:active {
                background-color: variables.$White;
                color: variables.$Black;
            }
        }

        /* This class is used in JS, so DO NOT DELETE. Colour matters. */
        .unselectedMenuItemByMariePierreLessard {
            color: variables.$White;
        }

        /* This class is used in JS, so DO NOT DELETE. */
        .selectedMenuItemByMariePierreLessard {
            color: variables.$White;
            border: 1px solid variables.$White;
            border-radius: variables.$base-size-x150pc;
        }
    }
}