@use "./variables";
@use "./mixins";

.productListByMariePierreLessard {
    @include mixins.box-shadow-and-round-corners-by-Marie-Pierre-Lessard;
    /* Only inline padding because each list item has its own block padding,
    and I don't want to expand that further (visually). */
    padding-inline: variables.$double-of-base-size;

    .colouredListContainerByMariePierreLessard {
        /* TO DO mixin for this when I add such a DIV to the detailed view */
        display: grid;
        grid-template-columns: 1fr;
        /* This is to create the line between the list items */
        gap: 1px;
        background-color: variables.$LightBlue;

        /* This is to avoid showing grey in corners since images have a border radius. */
        border-radius: variables.$base-size-x150pc;

        a {
            color: variables.$Black;
            text-decoration: none;
        }

        /* TO DO: responsiveness on the list items */
        .productListItemByMariePierreLessard {
            @include mixins.flexed-and-spaced-standard-by-Marie-Pierre-Lessard;
            justify-content: space-between;
            /* Minimum space between flexed items on small screens */

            padding-block: variables.$double-of-base-size;
            background-color: variables.$White;

            .leftSideFlexByMariePierreLessard {
                @include mixins.flexed-and-spaced-standard-by-Marie-Pierre-Lessard;
            }

            .productListImgByMariePierreLessard {
                height: 100%;
                border-radius: variables.$base-size-x150pc;
                max-width: 200px;
            }

            .productListCostContainerByMariePierreLessard {
                text-align: right;
                font-size: variables.$base-size-x140pc;
            }

            &:hover {
                div:first-of-type {
                    div {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.productDetailsByMariePierreLessard {
    /* Maybe TO DO: this should be the minimum space between flexed items on small screens (I might add DIVs) */
    @include mixins.flexed-and-spaced-standard-by-Marie-Pierre-Lessard;

    @include mixins.box-shadow-and-round-corners-by-Marie-Pierre-Lessard;
    padding: variables.$base-size-x160pc;

    .productDetailsImgByMariePierreLessard {
        border-radius: variables.$base-size-x150pc;
        max-width: 250px;
    }

    .infoColByMariePierreLessard {
        display: grid;
        grid-template-columns: 1fr;
        gap: variables.$base-size;

        ul {
            list-style-position: outside;
            /* Instead of padding-left, to account for internationalisation. */
            padding-inline: variables.$base-size-x160pc;
        }

        .productDetailsPriceByMariePierreLessard {
            font-size: variables.$base-size-x140pc;
        }

        /* This is the qty and the button */
        form {
            display: flex;
            gap: variables.$two-thirds-of-base-size;
        }

    }
}